# Pandas

Pandas is an open source, library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [1]:
import pandas as pd

## Series

In [2]:
pd.Series(data = [1,2,3], index = ['a','b','c'] )

a    1
b    2
c    3
dtype: int64

In [3]:
pd.Series({'a':1,'b':2,'c':3})

a    1
b    2
c    3
dtype: int64

## DataFrame

Data frames in Python are defined as a two-dimensional labeled data structures with columns of potentially different types.

In [4]:
pd.DataFrame([[1,2,3],[4,5,6]],columns = ['a','b','c'], index = ['f','g'])

   a  b  c
f  1  2  3
g  4  5  6

## Analyzing CSV file using Python

In [5]:
Iris = pd.read_csv('Iris.csv',sep=',')

In [6]:
Iris.info()
# .info return the general information of the dataset regarding to the number of the rows and columns,the variables, 
# variables types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Id               150 non-null int64
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
Species          150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
Iris.head()
# First 5 rows

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
Iris.tail()
# Last 5 rows

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
Iris.shape
# Number of rows and columns

(150, 6)

In [10]:
Iris_2 = Iris[['SepalLengthCm','PetalLengthCm','Species']]
# selecting only 2 specific columns

In [11]:
Iris_2

     SepalLengthCm  PetalLengthCm         Species
0              5.1            1.4     Iris-setosa
1              4.9            1.4     Iris-setosa
2              4.7            1.3     Iris-setosa
3              4.6            1.5     Iris-setosa
4              5.0            1.4     Iris-setosa
..             ...            ...             ...
145            6.7            5.2  Iris-virginica
146            6.3            5.0  Iris-virginica
147            6.5            5.2  Iris-virginica
148            6.2            5.4  Iris-virginica
149            5.9            5.1  Iris-virginica

[150 rows x 3 columns]

In [12]:
Iris_2.loc[[0,1,2]]
# .loc is used to find specific rows by the row number

   SepalLengthCm  PetalLengthCm      Species
0            5.1            1.4  Iris-setosa
1            4.9            1.4  Iris-setosa
2            4.7            1.3  Iris-setosa

In [13]:
Iris_2.iloc[[3,4]]
# .iloc is used to find rows using index number which is same as row number in this dataset

   SepalLengthCm  PetalLengthCm      Species
3            4.6            1.5  Iris-setosa
4            5.0            1.4  Iris-setosa

In [14]:
Iris_2.loc[1,'PetalLengthCm']
# to find specific value by inputing row and column

1.4

In [15]:
y = Iris['Species']

In [16]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [17]:
Iris_2.groupby('Species')['PetalLengthCm'].mean()
# Grouping all the rows based on Species and then calculating the mean of 'Petal Length'

Species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: PetalLengthCm, dtype: float64

In [20]:
x = Iris.drop(['Species'],axis = 1)
# dropping a column from the dataframe

In [21]:
x.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2