### List of dictionaries by row

In [1]:
list_of_dicts = [
    {'Name' : 'Lord of the Rings', 'Author' : 'J.R.R Tolkein', 'Nationality' : 'British' },
    {'Name' : 'Harry Potter & the Philosophers Stone', 'Author' : 'J.K. Rowling', 'Nationality' : 'British'}
]

In [3]:
import pandas as pd
authors = pd.DataFrame(list_of_dicts)

In [8]:
authors

                                    Name         Author Nationality
0                      Lord of the Rings  J.R.R Tolkein     British
1  Harry Potter & the Philosophers Stone   J.K. Rowling     British

### List of dictionaries by column

In [14]:
dict_of_lists = {
    'Name': ['Lord of the Rings', 'Harry Potter & the Philosophers Stone'],
    'Author' : ['J.R.R Tolkein','J.K. Rowling'],
    'Nationality' : ['British','British']
}

In [15]:
authors1 = pd.DataFrame(dict_of_lists)

In [16]:
authors1

                                    Name         Author Nationality
0                      Lord of the Rings  J.R.R Tolkein     British
1  Harry Potter & the Philosophers Stone   J.K. Rowling     British