### Un-pickle the table

In [1]:
import pickle

with open('homeless_data.pkl', 'rb') as f:
    data = pickle.load(f)

### Data exploration

In [2]:
data.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [5]:
data.pivot_table(index = 'region', values = 'state_pop')

                       state_pop
region
East North Central  9.377277e+06
East South Central  4.775371e+06
Mid-Atlantic        1.373910e+07
Mountain            3.063968e+06
New England         2.471554e+06
Pacific             1.066462e+07
South Atlantic      7.247736e+06
West North Central  3.050034e+06
West South Central  1.005958e+07

### Axis argument

In [15]:
data.mean(axis = 'index')

individuals       7.225784e+03
family_members    3.504882e+03
state_pop         6.405637e+06
dtype: float64

Default argument of axis i.e. index means that mean is calculated for all the rows under the column heads.

In [17]:
data.mean(axis = 'columns').head()

0    1.630372e+06
1    2.457183e+05
2    2.389296e+06
3    1.004148e+06
4    1.319719e+07
dtype: float64

This calculates the mean of 3 columns - individuals, family_members and state_pop for each state.